@import './person.scss';
$pageBackColor:rgb(220, 220, 220);

@mixin pageBase($pageBackColor:$pageBackColor) {
    min-height: 100vh;
    background-color: $pageBackColor;
}

@mixin m-flex-align {
    display: flex;
    align-items: center;
}

.c-flex-align{
    @include m-flex-align();
}

@mixin m-bothsSideAlign {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@mixin m-upDownSideAlign {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

//两端对齐
.c-bothsSideAlign {
    @include m-bothsSideAlign();
}